############################
# Maven
############################
**/target/

############################
# IntelliJ IDEA
############################
.idea/
*.iml
out/

############################
# Java
############################
*.class
*.log

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# VS Code
############################
.vscode/

############################
# Maven Wrapper
############################
!.mvn/wrapper/maven-wrapper.jar